<tr>
    <td class="text-center">{{getDate dateDelivered}}</td>
    <th scope="row" class="text-center">{{deliveryID}}</th>
    <td class="text-center">{{productID}}</td>
    <td class="text-center">{{userID}}</td>
    <td class="text-right">{{number_Of_Units_Delivered}}</td>
    <td class="text-right">{{number_Of_Damaged}}</td>
    <td></td>

</tr>