<tr>
    <td scope="row" class="text-center">{{getDate date}}</td>
    <th class="text-center">{{discrepancyID}}</th>
    <td class="text-center">{{productID}}</td>
    <td class="text-left">{{firstName}} {{lastName}}</td>
    <td class="text-right">{{oldCount}}</td>
    <td class="text-right">{{newCount}}</td>

</tr>