<tr>
            <th scope="row">{{getDate date}}</th>
            <td>{{discrepancyID}}</td>
            <td>{{productID}}</td>
            <td>{{userID}}</td>
            <td>{{oldCount}}</td>
            <td>{{newCount}}</td>

</tr>