<tr>
            <th scope="row" class="text-center">{{getDate date}}</th>
            <td class="text-center">{{discrepancyID}}</td>
            <td class="text-center">{{productID}}</td>
            <td class="text-center">{{userID}}</td>
            <td class="text-right">{{oldCount}}</td>
            <td class="text-right">{{newCount}}</td>

</tr>