<tr>
    <th scope="row" class="text-right">{{userID}}</th>
    <td class="text-left">{{firstName}}</td>
    <td class="text-left">{{lastName}}</td>
    <td class="text-right">{{phoneNumber}}</td>
    <td class="text-center">{{convertbool isSysAd}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/a/user/editProfiie" class="btn btn-outline-dark">Edit</a>
        </div>
    </td>
</tr>