<tr>
    <th scope="row">{{dmgrecordID}}</th>
    <td>{{productID}}</td>
    <td> {{userID}} </td>
    <td> {{dateDamaged}} </td>
    <td> {{numDamaged}} </td>
    <td></td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="" type="button" class="btn btn-outline-success" disabled>Approve</a>
            <a href="" type="button" class="btn btn-outline-primary">View Details</a>
            <a href="" type="button" class="btn btn-outline-dark" disabled>Reject</a>
        </div>
    </td>
</tr>