<tr>
    <th scope="row" class="text-center">{{productID}}</th>
    <td class="text-left">{{supplierName}}</td>
    <td class="text-center">{{categoryCode}}</td>
    <td class="text-left">{{productName}}</td>
    <td class="text-right">{{currentStock}}</td>
    <td class="text-right">{{getPrice sellingPrice}}</td>
    <td class="text-right">{{getPrice purchasePrice}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/m/products/{{productID}}" class="btn btn-outline-danger">Edit</a>
        </div>
    </td>

</tr>