<tr>
        <th scope="row" class ="text-center">{{productID}}</th>
        <td class ="text-center">{{supplierID}}</td>
        <td class ="text-center">{{categoryCode}}</td>
        <td class="text-left">{{productName}}</td>
        <td class="text-right">{{currentStock}}</td>
        <td class="text-right">{{getPrice sellingPrice}}</td>
        <td class="text-right">{{getPrice purchasePrice}}</td>
        <td>
        <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/a/product/editProduct" class="btn btn-outline-dark">Edit</a>
        </div>
        </td>

</tr>