<tr>
        <th scope="row" class="text-center">{{purchaseID}}</th>
        <td class="text-right">{{getPrice amountPaid}}</td>
        <td class="text-center">{{getDate datePurchased}}</td>
        <td class="text-right">{{getPrice totalCost}}</td>
        <td class="text-center">{{managerID}}</td>
        <td class="text-center">{{deliveryID}}</td>
        <td>
        <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-dark">View</button>
        </div>
        </td>

</tr>