<tr>
    <td scope="row" class="text-center">{{getDate dateSold}}</td>
    <td class="text-right">{{salesID}}</td>
    <td class="text-right">{{productID}}</td>
    <th class="text-right">{{firstName}} {{lastName}}</th>
    <td class="text-center">{{quantity}}</td>
    <td class="text-center">{{getPrice sellingPrice}}</td>
    <td class="text-center">{{getPrice total}}</td>
    <td></td>

</tr>