<tr>
    <th scope="row" class="text-center">{{salesID}}</th>
    <td class="text-right">{{quantity}}</td>
    <td class="text-right">{{getPrice sellingPrice}}</td>
    <td class="text-right">{{getPrice total}}</td>
    <td class="text-center">{{getDate dateSold}}</td>
    <td class="text-center">{{productID}}</td>
    <td class="text-center">{{userID}}</td>
    <td></td>

</tr>