<tr>
    <th scope="row" class="text-center">{{productID}}</th>
    <td class="text-left">{{productName}}</td>
    <td class="text-right">{{totalSales}}</td>
    <td class="text-right">{{avgDailySales}}</td>
    <td class="text-right">{{totalAmtPaid}}</td>
    {{!-- <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/a/supplierReport/{{productID}}" class="btn btn-outline-dark">View Breakdown</a>
        </div>
    </td> --}}
</tr>