<tr>
    <th scope="row">{{supplierID}}</th>
    <td>{{companyName}}</td>
    <td>{{phoneNum}}</td>
    <td>{{email}}</td>
    <td>{{companyAddress}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark">Edit</button>
        </div>
    </td>

</tr>