<tr>
    <th scope="row" class="text-center">{{productID}}</th>
    <td class="text-left">{{productName}}</td>
    <td class="text-right">{{totalSales}}</td>
    <td class="text-right">{{avgDailySales}}</td>
    <td class="text-right">{{totalAmtPaid}}</td>
</tr>