<tr>
    <th scope="row" class="text-center">{{supplierID}}</th>
    <td class="text-left">{{companyName}}</td>
    <td class="text-center">{{phoneNum}}</td>
    <td class="text-left">{{email}}</td>
    <td class="text-left">{{companyAddress}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/a/suppliers/{{{supplierID}}}" class="btn btn-outline-dark">Edit</a>
        </div>
    </td>

</tr>