{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class="shadow">
						<div class="d-flex flex-column mt-2">
                            <div class="container">
								<h1 class="display-5 text-center">Missing/Damaged Goods Details</h1>
							</div>
							<div class="container">
								<form>
                                     <div class="form-group">
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- newMDgoods_prodID -->
                                                <input type ="hidden" class = "form-control" id = "dmgrecordID" value="{{record.dmgrecordID}}" readonly>
                                                <input type ="hidden" class = "form-control" id = "productID" value="{{record.productID}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userID">Added by</label>
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- newMDgoods_prodID -->
                                                <input type ="text" class = "form-control" id = "userID" value="{{record.userID}} - {{record.u_firstName}} {{record.u_lastName}}" readonly>
                                            </div>
                                        </div>
                                    </div>

									<div class="form-group">
                                        <label for="MDproductID">Product</label>
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- newMDgoods_prodID -->
                                                <input type ="text" class = "form-control" id = "MDproductID" value="{{record.productID}} - {{record.productName}}" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="dateDamaged">Date Damaged</label>
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- newMDgoods_prodID -->
                                                <input type ="date" class = "form-control" id = "dateDamaged"  readonly>
                                                <script>
                                                Date.prototype.toDateInputValue = (function () {
                                                    var local = new Date("{{record.dateDamaged}}");
                                                    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                                                    return local.toJSON().slice(0, 10);
                                                });
                                                document.getElementById('dateDamaged').value = new Date().toDateInputValue();
                                            </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="MDmanager">Approved By</label>
                                        <input type="text" class="form-control" id="MDmanager" value="{{record.managerID}} - {{record.m_firstName}} {{record.m_lastName}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="MDstatus">Status</label>
                                        <input type="text" class="form-control" id="MDstatus" value="{{record.approved}}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="MDdmg">Number of Damaged</label>
                                        <input type="number" class="form-control" id="MDdmg" value ="{{record.numDamaged}}" min="0" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="MDcomment">Comment</label>
                                        <textarea class="form-control" id="MDcomment" placeholder="no comment" rows="3" readonly>{{record.comments}}</textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-12 mb-3 d-flex justify-content-center">
                                                <a href="/a/MDgoods" class="btn btn-outline-secondary">Back</a>
                                            </div>
                                        </div>
                                    </div>
								</form>
						    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>