{{>m_navbar}} {{>m_sidebar}}
<div class="col-9">
    <div class="shadow">
        <div class="d-flex flex-column mt-2">
           
            <div class="container">
                <h1 class="display-6 text-center">{{reporttitle}}</h1>
                {{#if fromDate}}
                <h3 class="display-6 text-center">{{getDate fromDate}} - {{getDate toDate}}</h3>
                {{/if}}
            </div>
            <div class="d-flex flex-column">
                
                <table class="table table-bordered mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Total Units Sold</th>
                            <th scope="col">Total Units Delivered</th>
                            <th scope="col">Total Units Damaged in Delivery</th>
                            <th scope="col">Total Units Damaged</th>
                            <th scope="col"># Discrepancy Reports</th>
                            {{!-- <th scope="col"></th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                       <th scope="row" class="text-center">{{}}</th>
                        <td class="text-left">{{}}</td>
                        <td class="text-right">{{}}</td>
                        <td class="text-right">{{}}</td>
                        <td class="text-right">{{}}</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan='5'>
                                <a href="/m/inventoryReportBreakdown/{{{performanceReportData.productID}}}/{{{fromDate}}}/{{{toDate}}}" class="btn btn-outline-dark btn-block">View Breakdown</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
</div>